.title {
  color: white;
}
.subtitle {
  color: rgb(236, 235, 227);
}
.download {
  color: inherit;
  text-decoration: inherit;
}
.sonar {
  color: inherit;
}
.gridDescription {
  color: rgb(104, 104, 104);
}
.projTitle {
  margin-bottom: -25px;
}

